/* Table of content
1.General - This is created general styles and overide some bootstrap classes.
2.Layout
 2.1 Animations
 2.2 Buttons
 2.3 Thumbnail - overide bootstrap thumbnail and add mased efect
 2.4 Socail icons -style for social icons list
3 Sections - definition for section and subsection
 3.1 Services
 3.2 Portfolio
 3.3 About
 3.4 Clients
 3.5 Price table
 3.6 Newsletter
 3.7 Contact
 3.8 Footer
 3.9 Cookie (gam)
4 Responsive 
**********************************************************************/

/*
1. General
**********************************************************************/
 body {
    font-family:'Raleway', sans-serif;
    color: #FFF;
    line-height:1.2em;
    font-size:17px;
    line-height:20px;
}
a {
    color:#1a2732;
    text-decoration: none;
}
a:hover {
    color: #FECE1A;
    text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h1 {
    margin: 10px;
}
p {
    padding: 10px;
    font-weight: 100;
    color: #1a2732;
}

.navbar {
    background: #d9d9d7;
    margin-bottom:0;
    min-height:70px;
}

.navbar-fixed-top {
    min-height:60px;
    height:60px;
    padding-top:0;
}
.navbar-inner {
    background: #d9d9d7;
    border-radius:0;
    filter: none;
    border: none;
    box-shadow: none;
}
.navbar .brand{
    padding-top: 6px;
}

.navbar .brand img {
    width:145px;
}

.navbar .nav > li > a {
    text-transform:uppercase;
    line-height: auto;
    vertical-align: middle;
    margin:10px 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: 1px solid #1a2732;
    box-shadow: none;
    font-size:15px;
    text-shadow: none;
    color: #1a2732;
    transition: border-color 1s ease;
}
.navbar .nav > li:hover> a, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    border: 1px solid #FECE1A;
    color: #1a2732;
    background-color: #fece1a;
    transition: border-color 1s ease;
}
.nav-pills {
    margin-bottom: 30px;
}
.nav-pills > li > a {
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-right:5px;
    padding-left:25px;
    padding-right:25px;
    border: 1px solid #1a2732;
}
.nav-pills > li > a:hover, .nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background: #fece1a;
    color: #1a2732;
}
.navbar .btn-navbar:hover, .navbar .btn-navbar {
    border-radius:0;
    background:#FECE1A;
    color: #1a2732;
}

.navbar .btn{
    margin-top: 10px;
}
/******
2. Layout
**********************************************************************/
.centered {
    margin-left:auto;
    margin-right:auto;
    float: none;
    text-align: center;
}
/* Use this class if you want ceter element with span* class */
 .center {
    float: none !important;
    margin: 0 auto !important;
    text-align: center;
}
.highlighted-box {
    background:#F4F8F9;
    padding:20px 30px;
}
.highlighted-box h1 {
    margin:0px;
}
.large-text {
    line-height:1.2em;
    font-size: 30px;
    color: #1a2732;
    padding:20px;
    margin-bottom:20px;
}
.highlighted-box h1, .highlighted-box p {
    color: #1a2732 !important;
}
.circle-border {
    display: inline-block;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    -khtml-border-radius: 500px;
    border: 3px solid #fff;
}
.left-align {
    text-align:left;
}
.right-align {
    text-align:left;
}
.error {
    color: #CF0000;
    display: none;
}
.invisible {
    display:none;
    visibility:visible;
}
.triangle {
    margin: 0 auto;
    text-align:center;
    width: 0;
    height: 0;
    border-top: 30px solid #d9d9d7;
    border-left: 585px outset transparent;
    border-right: 585px outset transparent;
    position: relative;
}
/*
2.1 Animations
**********/
 .zoom-in {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease;
}
.zoom-in:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}
/*
2.2 Buttons - There are buttons on a transparent background, primary and secondary color background.
**********/
 .button,  .button:visited, .button:focus {
    display:inline-block;
    border:1px solid #1a2732;
    color:#1a2732;
    background-color:transparent;
    padding:15px 30px;
    font-size:17px;
    line-height:auto;
}
.button:hover, .button:active{
    background-color:#1a2732;
    color:#fff;
}
.button-sp, .button-sp:visited, .button-sp:focus {
    border:none;
    background-color:#FECE1A;
    color:#1a2732;
}
.button-sp:hover, .button-sp:active {
    background-color:#1a2732;
    color:#FECE1A;
}
.button-ps, .button-ps:visited, .button-ps:focus {
    border:none;
    background-color:#1a2732;
    color:#FECE1A;
}
.button-ps:hover, .button-ps:active {
    background-color:#FECE1A;
    color:#1a2732;
}
/*
2.3 Thumbnails - Predefined bootstrap's thumbnail class.
**********/
 .thumbnail {
    width:100%;
    height:100%;
    padding:0;
    overflow: hidden;
    position: relative;
    border:0;
    border-radius:0;
    box-shadow:none;
    text-align:center;
    background: #1a2732;
}
.thumbnail .more {
    display:block;
    z-index:4;
    position:absolute;
    top:-100px;
    left:50%;
    margin:0 auto;
    margin-left:-41px;
    width:80px;
    height:80px;
    font-size:40px;
    color:#fff;
    text-decoration:none;
    line-height: 70px;
    text-align: center;
}
.thumbnail:hover .more {
    top:40%;
    margin-top:-40px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3 s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.thumbnail h3, 
.thumbnail p {
    margin:0;
    padding:0;
    position:relative;
    z-index:4;
}
.thumbnail h3 {
    color: #FECE1A;
    margin-top:10px;
    font-size:20px;
}
.thumbnail > p {
    padding-bottom:20px;
}
.thumbnail .mask {
    opacity:0.9;
    filter: alpha(opacity=90);
    top:100%;
    left:0;
    width:100%;
    height:100%;
    background:#1a2732;
    position:absolute;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2 s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.thumbnail:hover .mask {
    top:0;
}
/*
2.4 Social icons
************/
 .social {
    list-style: none;
    float: none;
    position:relative;
    margin:5px; auto;
}
.social li {
    display:inline-block;
    line-height: 32px;
    font-family:'Porta';
    font-size: 21px;
    padding:0 5px;
}
.social li a {
    margin:0;
    padding:0;
    width:32px;
    height:32px;
    color: #FECE1A;
}
.social li a:hover {
    color:#1a2732;
}
/*
3. Sections 
***************************************************************************/
 .section {
    padding-bottom: 50px;
}
.section .container {
    padding-top:62px;
}
.section .title {
    text-align: justify;
    padding:10px;
    line-height: 22px;
    /*margin-bottom: 30px;*/
}
.section .title h1 {
    font-weight: normal;
    margin-bottom: 20px;
    padding: 0;
}
.section .title > p {
    font-size: 20px;
    color: #FFF;
    font-weight: lighter;
}
.primary-section {
    background:#d9d9d7;
}
.primary-section .triangle {
    border-top: 40px solid #fff;
}
.primary-section .title {
    border-bottom: 1px solid #d9d97;
}
.primary-section, .primary-section .title p, .primary-section h3 {
    color: #1a2732;
}
.primary-section h1 {
    color:#1a2732;
}
.secondary-section {
    background:#fff;
}
.secondary-section .title {
    border-bottom: 1px solid #1a2732;
}
.secondary-section h1, .secondary-section .title p {
    color: #1a2732;
}
/* Third section use bacground image */
.third-section {
    padding-bottom: 70px;
    background: #fece1A url(../images/brand-bg.png) no-repeat center;
    border-top:6px solid #d9d9d7;
}
.third-section .container {
    padding-top:20px;
    position:relative;
}
.third-section .title {
    border-bottom: 1px solid #A1AAB7;
    color: #FECE1A;
}
.sub-section {
    margin-top:30px;
}
.sub-section .title {
    padding:0;
}
/*******
3.1 Services  
***************************************/
.service{
    margin-top:20px;
}
 .service, .service h2 {
    padding-top:15px;
}
.service p {
    padding:0px 0px;
    height:60px;
    font-size: 16px;
}
.service img {
    width:150px;
    height:150px;
}
/*
3.2 Portfolio
***************************************/
 .single-project {
    margin-bottom:30px;
    background:#1a2732;
}
.single-project img {
    width:100%;
}
.project-description {
    padding-right:20px;
}
.project-description p {
    padding-left:0;
}
.project-title {
    margin-top:15px;
    margin-bottom:15px;
    border-bottom:1px solid #FECE1A;
}
.project-title h3 {
    float:left;
    margin-top:0;
    padding:0;
    width:80%;
}
.project-title .close {
    color: #FECE1A;
    margin-top:10px;
}
.project-info span, .project-title h3 {
    color:#FECE1A;
}
.project-info {
    font-weight:100;
    padding:10px 0;
}
.project-info span {
    width: 80px;
    display: inline-block;
}
.project-info div {
    margin-bottom:5px;
}
.close {
    float: right;
    width: 40px;
    height: 40px;
    text-align: center;
}
#portfolio-grid .mix {
    opacity: 0;
    display: none;
}
/*
3.3 About
******************************************************************/
 .team .thumbnail {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    border: 1px solid #fff;
}
.team .thumbnail:hover .social {
    z-index: 5;
}
.team .thumbnail:hover .social a {
    color:#fff;
}
.team .thumbnail .mask {
    background: #FECE1A;
}
.team .thumbnail .mask h2 {
    margin-top:20%;
}
.team .thumbnail .mask, .team .thumbnail .mask h3, .team .thumbnail .mask p, .team .thumbnail:hover h3, .team .thumbnail:hover .social a:hover {
    color:#181A17;
}
.about-text {
    margin-top:30px;
}
.about-text p {
    padding:0;
    font-size:16px;
}
/*********************************************************************
                        SKILLS BAR
*********************************************************************/
 .skills {
    list-style-type: none;
    position: relative;
    margin:0px;
}
.skills li {
    margin-bottom:30px;
    background:#FFF;
    height:40px;
    padding:1px;
}
.skills li h3 {
    position: relative;
    font-size: 15px;
    padding:0;
    margin:0;
    left: 10px;
    z-index: 1;
    color: #1a2732;
}
.skills li .bar {
    height:40px;
    position:absolute;
    background-color: #FECE1A;
}
/*
3.4 Clients
**********************************************************************/
 .client-slider img {
    border:1px solid white;
}
.client-slider img:hover {
    background-color:#FECE1A;
}
.client-nav {
    list-style:none;
    margin-top:10px;
}
.client-nav li {
    float:left;
    display:block;
    margin-left:10px;
}
.client-nav li a {
    display:inherit;
    padding:5px;
    background:#FECE1A;
    border-radius:3px;
    width:20px;
    height:20px;
}
.client-nav li a:hover {
    background:#1a2732;
}
.testimonial p {
    color:#1a2732;
    background:#FECE1A;
    padding:15px;
    margin:0;
}
.testimonial .arrow {
    margin-left:10px;
    width:0;
    border-top:10px solid #FECE1A;
    border-left: 20px outset transparent;
    border-right: 20px outset transparent;
}
.testimonial .whopic {
    display:inline-block;
}
.testimonial .whopic img {
    margin-top:10px;
    width:50px;
    height:50px;
    float:left;
}
.testimonial .whopic strong {
    float:left;
    margin-top:10px;
    padding-left:10px;
}
.testimonial .whopic small {
    display:block;
    font-size:12px;
    
}
.testimonial-text{
    display:block;
    font-size:22px;
    text-align:center;
    margin:0 auto;
    margin-top:30px;
    width:70%;
    line-height:1.3em;
}
/*
3.5 Price table
******************************************************************/
 .price-table {
    margin-top: 70px;
    margin-bottom: 20px;
}
.price-column {
    background-color:white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-bottom:20px;
    margin:0 auto;
    text-align:center;
}
.price-column h3 {
    background-color:#1a2732;
    text-transform:uppercase;
    text-align: center;
    color:#FECE1A;
    padding:40px 0px;
    font-size: 36px;
    margin-top:0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}
.price-column .list{
    list-style:none;
    margin:20px 50px;
}
.price-column .list li{
    font-weight:lighter;
    color:#747C89;
    font-size:20px;
    border-bottom:1px solid #747C89;
    padding:25px 0px;
}
.price-column .list li.price {
    text-align: center;
    font-size:31px;
    background-color:white;
    color:#747C89;
    margin-top:25px;
}
.price-text{
    margin:30px 0 20px;
    font-size:20px;
    color: #1a2732;
    font-weight:normal;
}
/*
3.6 Newsletter
********************************************************************/
 .newsletter, .newsletter h2 {
    color: #D7DDDE;
}
.newsletter .title h2 {
    text-align:left;
    padding:0;
    margin:0;
}
.newsletter form {
    text-align:right;
}
.newsletter input {
    margin-top:10px;
    padding:15px;
    height: auto;
}
.newsletter button {
    margin: 0 0 0 20px;
}
.newsletter .button-sp:hover, .newsletter .button-sp:active {
    background-color:#FFF;
    color:#1a2732;
}

/*
3.7 Contact
********************************************************************/
 .contact {
    background: #FECE1A;
}
.contact h1, .contact h2, .contact h3, .contact h4, .contact h5, .contact h6, .contact .section .title > p, .contact .social > li > a {
    color: #1a2732;
}
.contact textarea, .contact input[type="text"], .contact input[type="email"] {
    padding: 10px;
    line-height: 20px;
    height: auto;
}
.contact textarea {
    height: 120px;
}
.contacts, .contact .social {
    color: #fff;
    list-style: none;
    margin-left: 10px;
}
.contacts > li {
    margin-top: 15px;
}
.contacts > li > a {
    color: #fff;
}
.contact-info {
    margin-top:10px;
    margin-bottom:10px;
}
.contact-info p{
     font-weight:normal;
}
.contact-info .icon {
    margin:10px auto;
    font-size:30px;
}
.map-wrapper {
    position:relative;
    height:500px;
}
.map-canvas {
    position:absolute;
    margin-bottom:20px;
    width:100%;
    height:500px;
    color: #29383F;
    position:absolute;
    left:0;
    top:0;
    right:0;
}
.contact .social {
    display: inline-block;
    margin-left:0;
}
.contact .social li {
    line-height: 32px;
    padding:10px 10px;
    font-family:'Porta';
    font-size: 50px;
    transition: margin 0.4s;
    -webkit-transition: margin 0.4s;
}
.contact .social li a {
    color:#fff;
}
.contact .social li a:hover {
    color:#1a2732;
}
.contact-form {
    background:#fff;
    background: rgba(255, 255, 255, 0.9);
    z-index:110;
    position:relative;
    margin-top:-25px;
    padding:20px;
}
.contact-form h3 {
    color:#838589;
    padding-bottom:20px;
}
.message-btn {
    border:1px solid #747C89;
    color:#747C89;
    background-color:transparent;
    padding:15px 30px;
    font-size:17px;
}
.message-btn:hover {
    background-color:#FECE1A;
}
.contact-info {
    text-align:center;
    font-size:22px;
}
.info-mail {
    border:1px solid white;
    width:60%;
    margin:0 auto;
    padding:15px;
    color:#1a2732;
}
.black {
    color:#1a2732;
}
/*
3.8 Footer
********************************************************************/
 .footer {
    background: #1a2732;
    text-align: center;
}
.footer > p {
    color: #fff;
    margin:0;
}
.scrollup {
    text-align:center;
    cursor:pointer;
    vertical-align:middle;
    width:39px;
    height:39px;
    border-radius:5px;
    font-size:20px;
    position:fixed;
    bottom:30px;
    right:20px;
	border:1px solid #fff;
    display:none;
    background: #FECE1A;
}
.scrollup > a {
    position:relative;
    top:7px;
    color:#fff;
}

/*
3.9 Cookie (gam)
********************************************************************/

#cookieInfoLink {                      
  color: #1a2732;                /* il testo del link che aprire la pagina della cookie policy è rosso (#E00)  */
  text-decoration: underline; /* questa proprietà indica che il testo del link è sottolineato  */
}
#cookieInfoLink:hover {       /* la parola hover, vicino al selettore, indica che le proprietà seguenti verranno applicate... */
                              /* ... al link che conduce alla cookie policy solo quando il mouse ci passa sopra  */
  color: #Fff;                /* il testo del link in questo caso diventa di un rosso più chiaro al passaggio del mouse...  */
  test-decoration:none;       /*   .... e allo stesso tempo il testo non sarà più sottolineato            */
}
#cookieChoiceDismiss {        /* Impostiamo per il link "accetto/ok/chiudi" le proprietà per renderlo... */
			      /* ...visivamente come un pulsante */
  background-color: #fece1a;     /* lo sfondo è verde (#0A0) */
  color: #1a2732;                /* Il colore del testo è bianco (#FFF) */
  text-decoration: none;      /* Il testo non è sottolineato         */
  font-weight: 600;           /* Il testo è in grassetto             */
  font-size: 16px;
  padding: 3px 10px;          /* Imposto lo spazio tra i caratteri e il bordo del pulsante 2pixel sopra e sotto e 10px ai lati */
  border-radius:  3px;        /* Lo sfondo del pulsante ha i bordi arrotondati con un raggio di 3 pixel */
}
#cookieChoiceDismiss:hover {  /* Passando il mouse sopra il pulsante, questo cambia colore in verde chiaro. */
  background-color: #eee;
  color: #1a2732; 
}



/* Modifiche a template di base - LC */
.service-circle{
    float: left;
    width: 25%;
}

.service-label{
    width: 100%;
    position: absolute;
    top: 45%;
    /* left: 38%; */
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.two-lines{
    top: 38%;
}

.thumbnail p{
    padding: 5px 5px 0 5px;
    font-size: 13px;
    font-weight: 400;
}

.lang-menu{
    float: left;
    height: 43px;
    width: 35px;
    padding-top: 7px;
}

.lang-menu a{
    position: relative;
    display: block;
    float: left;
    height: 50%;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
}

.lang-ita::after{
    content:"";
    display: block;
    position: absolute;
    top: 2px;
    right: -2px;
    height: 15px;
    width: 15px;
    background-image: url('../images/ico/it.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;  
}

.lang-eng::after{
    content:"";
    display: block;
    position: absolute;
    top: 1px;
    right: -2px;
    height: 15px;
    width: 15px;
    background-image: url('../images/ico/eng.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.ybColor{
    background-color: #FECE1A;
}

.small-bio{
    line-height: 14px;
    text-align: left;
    padding: 7px!important;
}

.service-list{
    text-align: left;
    padding-left: 40px;
    list-style: none;
}

.service-list li{
    padding: 0px;
    position: relative;
}

.service-list li:before {
    content: "";
    height: 10px;
    width: 10px;
    display: block;
    border-radius: 5px;
    position: absolute;
    border: 1px solid white;
    top:5px;
    left: -20px;
    background-color: #FECE1A; /* or whatever color you prefer */
}

.service-list li p{
    height: auto;
    margin-bottom: 0px;
}

.portfolio-btn{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.portfolio-btn a{
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding:15px 25px;
    border: 1px solid #1a2732;
}

.portfolio-btn a:hover{
    background-color: #FECE1A;
    color: black;
}

.thumbnail > img, .single-project img{
    box-sizing: border-box;
    border: 1px solid #1a2732;
}

.txt-c{
    text-align: center;
}

.contact-info{
    line-height: 26px;
}

.indirizzi-mobile{
    display:none;
}

/* FINE Modifiche a template di base - LC */

/* Modifiche a template di base - GAM */

a.link {color:#FECE1A;}
a.link:link {color:#fff; text-decoration:underline; }
a.link:hover {background:#FECE1A; color:#1a2732; text-decoration:underline; }

/* FINE Modifiche a template di base - GAM */

/*
4 Responsible
********************************************************************/
 @media (min-width: 1200px) {
    .thumbnail .more {
        margin-left:-41px;
        width:80px;
        height:80px;
        border-radius:40px;
        line-height: 80px;
    }
}

@media (max-width: 1024px) {
    .row-fluid [class*="span"]:first-child{
        margin-left: 2.127659574468085%;
    }

    .row-fluid .span2.bioBox{
        width: 30%;
        margin-bottom: 10px;
    }

    .thumbnail p.small-bio{
        font-size: 20px;
        line-height: 24px;
    }

    .thumbnail h3{
        font-size: 16px;
    }

    .row-fluid.single-project [class*="span"]:first-child{
        margin-left: 0%;
    }
}

@media (max-width: 979px) {
    body {
        padding-left:0;
        padding-right:0;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
    }
    .navbar .nav > li > a {
        line-height: 20px;
        vertical-align: middle;
    }
    .section {
        padding-left:20px;
        padding-right:20px;
    }
    .section.contact-section{
        padding: 0px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0px;
        margin-right: 0px;
    }
    .nav-collapse {
        clear: both;
    }
    .nav-collapse .nav {
        float: none;
        margin: 0 0 10px;
    }
    .nav-collapse .nav > li {
        float: none;
    }
    .nav-collapse, .nav-collapse.collapse {
        width: 100%;
        display: inherit;
    }
    .thumbnail .more {
        margin-left:-21px;
        width:40px;
        height:40px;
        border-radius:30px;
        line-height: 40px;
    }
    .thumbnail:hover .more {
        margin-top:-20px;
    }
    .newsletter form {
        text-align:center;
    }

    .service-circle{
        width: 50%;
    }
    
    .project-title .close{
        margin-top: 0px;
    }

    .project-description{
        padding-bottom: 10px;
    }

    .project-title h3{
        font-size: 22px;
        line-height: 28px;
    }

    .service-list{
        padding-left: 70px;
    }

    .row-fluid.team .span2.bioBox{
        width: 48%;
        margin-bottom: 10px;
    }
    
    .row-fluid.team [class*="span"]{
        margin-left: 1%;
    }

    .thumbnail h3{
        font-size: 12px;
    }

}
@media (max-width: 767px) {
    .info-mail {
        width:90%;
        padding:15px 0px;
    }
    .project-description {
        padding-left:20px;
    }
    .price-column, .testimonial {
        margin-top:30px;
    }

    .service-circle{
        width: 50%;
    }

    .row-fluid.team .span2.bioBox{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    
    .thumbnail h3{
        font-size: 25px
    }

    .thumbnail p.small-bio {
        font-size: 30px;
        line-height: 35px;
    }

    .social li a{
        height: 50px;
        width: 50px;
    }

    .section .title > p{
        font-size: 24px;
        line-height: 30px;
    }
}

@media (max-width: 480px) {
    .section .container{
        padding-top: 20px;
    }

    .service-circle{
        width: 100%;
    }

    .section .title > p{
        font-size: 18px;
        line-height: 22px;
    }

    .service-list{
        padding-left: 30px;
    }

    .thumbnail p.small-bio {
        font-size: 15px;
        line-height: 22px;
    }

    .map-wrapper{
        height: auto;
    }
    .map-canvas{
        /*position: static;*/
        display:none;
    }

    .indirizzi-desktop{
        display:none;
    }

    .indirizzi-mobile{
        display:block;
    }

    .indirizzi-mobile a{
        text-decoration: underline;
        font-weight: bold;
        color: #1a2732;
        background-color: #fece1a;
    }

    .contact-form{
        margin-left: 0px!important;
    }

    .section .container.container-info{
        padding-top: 0px;
        padding-bottom: 30px;
    }

    .footer p{
        font-size: 14px
    }
}
